

.TopBar{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    min-height: 10vh;
    background-color: paleturquoise;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-color: cadetblue;
    border-style: groove;
    color:black;
    padding: 10px;
}

.logLink{
    color:black;
}

.homeLink{
    color:black;
    font-size: 20px;
    text-decoration: none;
}