

.TopBar{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    min-height: 10vh;
    background-color: paleturquoise;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-color: cadetblue;
    border-style: groove;
    color:black;
    padding: 10px;
}

.logLink{
    color:black;
    font-size: 20px;
}

.homeLink{
    color:black;
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
}

.Logo{
    width: 50px;
    height: 40px;
    margin: 10px;
}

.leftBar{
    display: flex;
    align-items: flex-start;
}